html {
  scroll-behavior: smooth; 
}
body {
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  margin: 0; padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header, .main, .footer {
  border: 1px solid red;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  margin-left:600px;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  line-height: 50px;
}
.nav-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.nav-link:hover {
  color: blueviolet;
  text-decoration: underline;
  transition: color 0.5s;
}

